<div class="section has-text-centered">
    <h3 class="mb-4 is-uppercase">Atajos</h3>
    <nav class="level">
        <div class="level-item has-text-centered">
            <a target="_blank" href="https://www.waze.com/ul?ll=10.12747309%2C-85.79697847&navigate=yes&zoom=33" class="title"><i class="fa-brands fa-waze"></i> Fiesta</a>
        </div>
        <div class="level-item has-text-centered">
            <a target="_blank" href="https://ul.waze.com/ul?ll=10.21134287%2C-85.75827956&navigate=yes&zoom=17" class="title"><i class="fa-brands fa-waze"></i> Iglesia Río Seco</a>
        </div>
        <div class="level-item has-text-centered">
            <a target="_blank" href="https://ul.waze.com/ul?ll=10.14553303%2C-85.8016250564&navigate=yes&zoom=17" class="title"><i class="fa-brands fa-waze"></i> Casa Junco</a>
        </div>
    </nav>
</div>