<!-- footer Start -->
<footer class="footer section">
	<div class="container">
		<div class="columns is-multiline is-justify-content-center">
			<div class="column is-4-desktop is-5-tablet">
				<div class="widget mb-0">
					<div class="logo mb-4">
						<h2 class="has-text-white" style="font-size:2rem">Contactos</h2>
					</div>					
				</div>
			</div>

			<div class="column is-2-desktop is-5-tablet">
				<div class="widget mb-0">
					<h4 class="text-capitalize mb-4 has-text-white">Ivan</h4>

					<ul class="list-unstyled footer-menu lh-35">
						<li><a target="_blank"href="https://wa.me/50688767834"><i class="fa-brands fa-whatsapp"></i> 8876-7834</a></li>
					</ul>
				</div>
			</div>
			<div class="column is-2-desktop is-5-tablet">
				<div class="widget mb-0">
					<h4 class="text-capitalize mb-4 has-text-white">Silvia</h4>

					<ul class="list-unstyled footer-menu lh-35">
						<li><a target="_blank"href="https://wa.me/50688135419"><i class="fa-brands fa-whatsapp"></i> 8813-5419</a></li>						
					</ul>
				</div>
			</div>
			<!-- <div class="column is-2-desktop is-5-tablet">
				<div class="widget mb-0">
					<h4 class="text-capitalize mb-4 has-text-white">Josefina - Planner</h4>
					<ul class="list-unstyled footer-menu">
						<li><i class="fa-brands fa-whatsapp"></i> 8888-5555</a></li>						
					</ul>					
				</div>
			</div> -->
		</div>		
	</div>
	<div class="footer-btm pt-4 pb-3">
			<div class="columns is-justify-content-center">
				<div class="column has-text-centered">
					<div class="copyright">
						<p>Hecho con <i class="fa-solid fa-heart has-text-danger"></i> por <a href="https://kaotik.cr/" target="_blank" class=" has-text-white">KaotiK</a></p>
					</div>
				</div>
			</div>
		</div>
</footer>