<section class="section intro" id="historia">
  <div class="container">
    <div class="columns is-justify-content-center">
      <div
        class="column is-6-widescreen is-8-desktop is-10-tablet has-text-centered"
      >
        <div class="section-title">
          <h2 class="mb-4">Historia</h2>
        </div>
      </div>
    </div>
    <div class="columns is-desktop is-justify-content-space-between">
      <div class="column is-6-desktop">
        <div
          class="about-img"
          data-aos="fade-right"
          data-aos-delay="200"
          style="line-height: 0"
        >
          <img src="images/historia.jpg" alt="" class="" />
        </div>
      </div>

      <div class="column is-6-desktop">
        <div class="columns">
          <div
            class="column is-6-desktop is-6-tablet"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <div class="intro-item mb-4 mb-lg-0">
              <i class="fa-solid fa-eye text-color"></i>
              <h4 class="mt-4 mb-3">¿Cómo se conocieron por primera vez?</h4>
              <p>
                A pesar que ambos somos de Palmares y teníamos muchos amigos en
                común, nunca tuvimos ninguna relación hasta el día que nos
                conocimos. Fue en un paseo a Jacó para el mundial de surf del
                2016 cuando coincidimos en el viaje, compartimos breves
                conversaciones que fueron suficientes para despertar la chispa
                en ambos.
              </p>
            </div>
          </div>
          <div class="column is-6-desktop is-6-tablet">
            <div
              class="intro-item mb-4 mb-lg-0"
              data-aos="fade-up"
              data-aos-delay="300"
            >
            <i class="fa-solid fa-magnet text-color"></i>
              <h4 class="mt-4 mb-3">¿Quién hizo la primer movida?</h4>
              <p>
                Despues del viaje a Jaco empezamos a conversar más seguido sobre
                cualquier cosa, fue cuando Ivan invitó a Silvia a cenar con un
                matiz mas romántico donde la quimica se podía sentir. Al
                finalizar la cena, cuando veníamos de regreso al carro Ivan
                abrió la puerta a Sil y se dió el momento ideal para ese primer
                beso.
              </p>
            </div>
          </div>
        </div>
        <div class="columns">
          <div
            class="column is-6-desktop is-6-tablet"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <div class="intro-item mb-4 mb-lg-0">
              <i class="fa-solid fa-heart text-color"></i>
              <h4 class="mt-4 mb-3">¿Desde cuando son pareja?</h4>
              <p>
                Nuestra relación tiene más de 6 años, nos hicimos novios en el
                Templo Blanco en Chiang Mai, Thailandia un 17 de octubre de
                2016.
              </p>
            </div>
          </div>
          <div class="column is-6-desktop is-6-tablet">
            <div
              class="intro-item mb-4 mb-lg-0"
              data-aos="fade-up"
              data-aos-delay="300"
            >              
              <i class="fa-solid fa-palette text-color"></i>
              <h4 class="mt-4 mb-3">¿Cual fue su cita más memorable?</h4>
              <p>
                Sin duda la primera, ese primer beso fue cautivador y la energía
                que salió de ambos durante la velada fue pura magia.
              </p>
            </div>
          </div>
        </div>
        <div class="columns">
          <div
            class="column is-6-desktop is-6-tablet"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <div class="intro-item mb-4 mb-lg-0">              
              <i class="fa-solid fa-umbrella-beach text-color"></i>
              <h4 class="mt-4 mb-3">
                ¿Cúal es una actividad que les gusta hacer juntos?
              </h4>
              <p>
                Nos encanta la playa, siempre listos. Desde relajarnos debajo
                del sol, hacer snorkel en cualquier piedra o ir de tour en algun
                bote. Un pareo, una hielera y un buen punto en la playa es todo
                lo que necesitamos para pasarla bien.
              </p>
            </div>
          </div>
          <div class="column is-6-desktop is-6-tablet">
            <div
              class="intro-item mb-4 mb-lg-0"
              data-aos="fade-up"
              data-aos-delay="300"
            >
            <i class="fa-solid fa-map-pin text-color"></i>
              <h4 class="mt-4 mb-3">¿Qué van a hacer de luna de miel?</h4>
              <p>
                Aún no tenemos el plan listo, pero esperamos irnos a la playa a
                relajarnos y celebrar la vida de casados haciendo lo que más nos
                gusta.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
