<!-- navigation -->
<header class="navigation">
  <nav id="navbar" class="navbar main-nav">
    <div class="container">
      <div class="navbar-brand ml-0">
        <a class="navbar-item" href="index.html">
          <!-- <img src="images/logo/logo.png" alt="logo"> -->
          <h2 class="has-text-white" style="font-size: 2rem">Silvia & Ivan</h2>
        </a>
        <button
          role="button"
          class="navbar-burger burger"
          data-hidden="true"
          data-target="navigation"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </button>
      </div>

      <div class="navbar-menu mr-0" id="navigation">
        <ul class="navbar-end">
          <li class="navbar-item">
            <a class="navbar-link is-arrowless" href="#cover">Inicio</a>
          </li>

          <li class="navbar-item">
            <a class="navbar-link is-arrowless" href="#historia">Historia</a>
          </li>

          <li class="navbar-item">
            <a class="navbar-link is-arrowless" href="#itinerario">Itinerario</a>
          </li>

          <li class="navbar-item">
            <a class="navbar-link is-arrowless" href="#playa-lagarto">Playa Lagarto</a>
          </li>

          <!-- <li class="navbar-item">
            <a class="navbar-link is-arrowless" href="">Presentes</a>
          </li> -->

          <!-- <li class="navbar-item">
            <a
              class="navbar-link is-arrowless quote-btn bg-primary rounded-btn letter-spacing is-uppercase"
              href="faq.html"
            >
              Preguntas <i class="ti-angle-right"></i>
            </a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>
</header>
<!-- nav part end -->
