<section class="page-title bg-1">
    <div class="container">
        <div class="columns">
            <div class="column is-12">
                <div class="has-text-centered">                
                    <!-- Section contador Start -->
                    @@include('blocks/contador.htm')
                    <!-- Section contador End -->
                    <h1 class="text-capitalize mb-4 text-lg">@@title</h1>
                    <p>@@description</p>
                </div>
            </div>
        </div>
    </div>
</section>