<section class="section service bg-gray" id="playa-lagarto">
  <div class="container">
    <div class="columns is-justify-content-center">
      <div
        class="column is-6-widescreen is-8-desktop is-10-tablet"
      >
        <div class="section-title has-text-centered">
          <h2 class="mb-4">Playa Lagarto</h2>
        </div>
        <article class="media">
          <figure class="media-left">
            <p class="image is-64x64">
              <img src="images/playa-lagarto.jpg">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <h4>¿Cómo llegar a Playa Lagarto?</h4>
              <p>Recomendamos ir por la ruta sobre el puente del Río Tempisque y tomar el camino por 27 de Abril.</p>              
            </div>
          </div>          
        </article>
        <article class="media">
          <figure class="media-left">
            <p class="image is-64x64 has-text-centered">
              <i class="fa-solid fa-hotel fa-2x"></i>
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <h4>Villas Eco-Development</h4>
              <p>Este es nuestro hospedaje recomendado. Queda a 3 minutos de la fiesta. Son villas básicas con cocina y 1 o 2 cuartos más un sofa cama en la sala. Pueden acomodarse grupos de 2, 3, 4, 5, y hasta 6 personas.</p>
              <p>Son cómodas y accesibles. Tiene piscina y A/C en los cuartos. Cuenta con un Restaurante/Soda. En caso que desen reservar en este lugar, Silvia & Ivan se dieron a la tarea de solicitar un descuento para invitados de la boda, pueden dejarnos saber la necesidad de hospedaje y los agregamos a la lista donde se paga tarifa preferencial. Tambien pueden reservar directamente por su cuenta. </p>
              <nav class="level is-mobile">
                <div class="level-left">
                  <a class="level-item">
                    <span class="icon is-small"><i class="fa-solid fa-dollar-sign"></i></span>
                  </a>                
                </div>
              </nav>
              <p><a target="_blank" href="https://www.tripadvisor.es/Hotel_Review-g309251-d15654715-Reviews-Playa_Lagarto_Eco_Development-Santa_Cruz_Province_of_Guanacaste.html"> Ver en Tripadvisor</a></p>
              <p><a target="_blank" href="https://www.booking.com/hotel/cr/playa-lagarto-eco-development.es.html"> Ver en Booking</a></p>
              <p><a target="_blank" href="https://www.expedia.com/Marbella-Hotels-Playa-Lagarto-Eco-Development.h19979634.Hotel-Information"> Ver en Expedia</a></p>
              <p><a target="_blank" href="https://www.airbnb.com/rooms/23480669"> Ver en Airbnb</a></p>
            </div>            
          </div>                    
        </article>
        <article class="media">
          <figure class="media-left">
            <p class="image is-64x64 has-text-centered">
              <i class="fa-solid fa-hotel fa-2x"></i>
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <h4>Azul Ocean Club</h4>
              <p>Queda a 10 minutos de la fiesta. Son villas mucho mejor equipadas con cocina y 1 o 2 cuartos más un sofa cama en la sala. Pueden acomodarse grupos de 2, 3, 4, 5, y hasta 6 personas.</p>
              <p>Tiene piscina y A/C en los cuartos. Frente al mar. Cuenta con varios restaurantes en el lugar.</p>
              <p><a target="_blank" href="https://www.azuloceanclub.com/"> Website Oficial</a></p>
              <nav class="level is-mobile">
                <div class="level-left">
                  <a class="level-item">
                    <span class="icon is-small"><i class="fa-solid fa-dollar-sign"></i></span>
                  </a>                
                  <a class="level-item">
                    <span class="icon is-small"><i class="fa-solid fa-dollar-sign"></i></span>
                  </a>                
                </div>
              </nav>
              <p><a target="_blank" href="https://www.tripadvisor.es/Hotel_Review-g6749982-d5595879-Reviews-Azul_Ocean_Club_Hotel-Playa_Azul_Province_of_Guanacaste.html"> Ver en Tripadvisor</a></p>
              <p><a target="_blank" href="https://www.booking.com/hotel/cr/azul-ocean-club.es.html"> Ver en Booking</a></p>
              <p><a target="_blank" href="https://www.expedia.com/Playa-Azul-Hotels-Azul-Ocean-Club-Hotel.h6776980.Hotel-Information"> Ver en Expedia</a></p>
              <p><a target="_blank" href="https://es.airbnb.com/rooms/33528849"> Ver en Airbnb</a></p>
            </div>            
          </div>                    
        </article>
        <article class="media">
          <figure class="media-left">
            <p class="image is-64x64 has-text-centered">
              <i class="fa-solid fa-house fa-2x"></i>
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <h4>Quédese en una casa de playa</h4>
              <p>En la zona entre Avellanas/Playa Negra y Junquillal/Marbella existen muchas y buenas opciones de casas de lujo con aún disponibilidad para la fecha de la boda.</p>             
              <nav class="level is-mobile">
                <div class="level-left">
                  <a class="level-item">
                    <span class="icon is-small"><i class="fa-solid fa-dollar-sign"></i></span>
                  </a>                
                  <a class="level-item">
                    <span class="icon is-small"><i class="fa-solid fa-dollar-sign"></i></span>
                  </a> 
                  <a class="level-item">
                    <span class="icon is-small"><i class="fa-solid fa-dollar-sign"></i></span>
                  </a>                
                </div>
              </nav>              
            </div>            
          </div>                    
        </article>
        <article class="media">
          <div class="media-content">
            <div class="content">              
              <p>El verano es la temporada alta en Guanacaste y Costa Rica en general. Por favor hacer su arreglos para hospedaje tan pronto sea posible para las mejores tarifas y disponibilidad.</p>              
            </div>
          </div>          
        </article>

        <article class="media">
          <figure class="media-left">
            <p class="image is-64x64 has-text-centered">
              <i class="fa-solid fa-utensils fa-2x"></i>
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <h4>Restaurantes Favoritos en la zona</h4>
              
              <article class="media">                
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong>Tiki Hut</strong> <small>Marbella, frente al mar</small>
                      <br>
                      El ceviche de dorado es mortal. Los desayunos son un clásico despues de surfear. Los platos en general son muy buenos.
                      <br>
                      <a target="_blank" href="https://www.tikimarbella.com/about">Website Oficial y menu</a>
                    </p>
                    <nav class="level is-mobile">
                      <div class="level-left">
                        <a class="level-item" target="_blank" href="https://ul.waze.com/ul?ll=10.09101213%2C-85.78224778&navigate=yes&zoom=17">
                          <span class="icon is-small"><i class="fa-brands fa-waze"></i> </span> Ir con Waze
                        </a>                                        
                      </div>
                    </nav>
                  </div>                  
                </div>                
              </article>
              <article class="media">                
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong>Café Playa Negra</strong> <small>Playa Negra, sobre la calle principal</small>
                      <br>
                      La calidad de los platos es superior. Cocina gourmet con muy buenos ingredientes.
                      <br>
                      <a target="_blank" href="https://www.cafeplayanegra.com/eat">Website Oficial y menu</a>
                    </p>
                    <nav class="level is-mobile">
                      <div class="level-left">
                        <a class="level-item" target="_blank" href="https://ul.waze.com/ul?ll=10.19878810%2C-85.82442284&navigate=yes&zoom=16">
                          <span class="icon is-small"><i class="fa-brands fa-waze"></i> </span> Ir con Waze
                        </a>                                        
                      </div>
                    </nav>
                  </div>                  
                </div>                
              </article>
            </div>            
          </div>                    
        </article>

        <!-- Section atajos Start -->
        @@include('blocks/atajos.htm')
        <!-- Section atajos End -->        

      </div>
    </div>
  </div>
</section>
